$color-list: (
key: #0ac,
bg: #fafafa,
black1: #333,
black2: #555,
black3: #888,
gray1: #aaa,
gray2: #ccc,
gray3: #eee,
smoke1: #f5f5f5,
smoke2: #fafafa,
white1: #fcfcfc,
white2: #fefefe,
);
      @function color($type:"key"){
        @return map-get($color-list,$type);
      }
   