.h-divide{
    width:90%;
    height:1px;
    margin: 0 auto;
    background-color: color('gray3');
}

.v-divide{
    height:80%;
    width:1px;
    margin: 0;
    background-color: color('gray3');
}
